extends base

block js
	script.
		$(document).ready(function(){
			// 图片上传
			$("#exampleInputFile").change(function(){
				if ($("#exampleInputFile").val().length > 0) {
					var fileName = $("#exampleInputFile").val();
					var extension = fileName.substring(fileName.lastIndexOf("."), fileName.length).toLowerCase();
					if (extension == ".jpg" || extension == ".png") {
						var data = new FormData();
						data.append('fulAvatar', $("#exampleInputFile")[0].files[0]);
						$.ajax({
							url				: '/uploadImage',
							type			: 'POST',
							data 			: data,
							cache 			: false,
							contentType		: false,
							processData		: false,
							success			: function(data){
								if (data.code == 200) {
									$("img").attr("src", data.result);
									$("#image").val(data.result);
								}
							},
							error 			: function() {
								alert("图片上传失败");
							}
						});
					}
				}
			});

			// 注册
			$("button").click(function(){
				if ($("#email").val() == "") {
					alert("邮箱不能为空");
					return
				}

				if ($("#password").val() == "") {
					alert("密码不能为空");
					return
				}

				if ($("#username").val() == "") {
					alert("请写上你的大名");
					return
				}

				var data = { email : $("#email").val(), password : $("#password").val(), username :   $("#username").val() };

				if ($("#image").val() != "") {
					data.image = $("#image").val();
				}

				$.ajax({
					url 		: '/userRegister',
					type 		: 'POST',
					dataType 	: 'json',
					data 		: data,
					success 	: function(data) {
						if (data.code == 401) {
							if (confirm('邮箱已经注册，点击下方确认按钮跳转到登录页面')) {
								$(location).attr('href', 'http://127.0.0.1:3000/');
							}
						} else {
							alert(data.message);
						}

					},
					error 		: function() {
						alert("注册失败");
					}
				});
			});
		});

block content
	section(class="container" style="margin-top:80px;width:550px")
		div(class="row")
			div(class="col-lg-12")
				section(class="panel")
					header(class="panel-heading") 用户注册
					div(class="panel-body")
						div(class="form-group")
							label(for="exampleInputEmail1") Email address
							input(type="email" class="form-control" id="email" placeholder="Enter email" name="email")
						div(class="form-group")
							label(for="exampleInputPassword1") Password
							input(type="password" class="form-control" placeholder="Password" name="password" id="password")
						div(class="form-group")
							label(for="exampleInputPassword1") UserName
							input(type="text" class="form-control" placeholder="UserName" name="username" id="username")
						div(class="form-group")
							label(for="exampleInputFile") File input
							input(type="file" id="exampleInputFile" name="fileToUpload" class="fileupload")
							p(class="help-block") 头像预览
						div(class="form-group")
							img(style="width: 120px;" src="")
							input(type="text" name="image" id="image" hidden)
						button(type="submit" class="btn btn-info") Submit

